:root {
    --header-color: rgb(34, 37, 49);
    --menu-color: rgb(111, 134, 255);
    --bg-color-light: #868fb4;
    --bg-color-dark: #3a4367;
}

body {
    margin: 0;
    background-color: rgb(230, 230, 231);
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px var(--header-color);
}

main {
    margin: 0 auto;

}

.menu {
    background-color: var(--header-color);
    color: #FFF;
    height: 100vh;
    width: 100%;
    max-width: 75%;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    transition: .3s ease;
}

.menu ul {
    padding: 50px;
}

.menu li {
    padding: 20px;
}

li a {
    text-decoration: none;
    color: #FFF;
}

li a:hover {
    text-decoration: underline overline var(--menu-color);
}

.menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--header-color);
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--menu-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* ACTIVE */

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

ul {
    list-style-type: none;
}

.home {
    max-width: 550px;
}

.home p {
    padding-left: 50px;
}

section {
    border-bottom: 10px solid var(--header-color);
    border-bottom-style: double;
}

.section {

    padding: 200px 0;


}

section div {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.img-container {
    text-align: right;
}

.profile-img {
    height: 100px;
    background-color: #FFF;
    border-radius: 70px;
    padding: 20px;
    margin-left: 15px;
}

/* CARD */
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    padding-top: 20px;

}


.card {
    background-color: var(--bg-color-dark);
    color: #FFF;
    width: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #3a4367;
    transition: 0.3s all ease-in-out;
}

.card:hover {
    transform: scale(1.03) rotate(3deg);
}

.card-info {
    padding: 20Px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-info a,
.mailto a {
    padding: 5px;
    margin: 2px 0;
    background-color: var(--bg-color-light);
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    font-size: 1.3rem;
}

.card-info a:hover,
.mailto a {
    transform: scale(1.05);
}

section a {
    padding: 10px;
    margin: 20px 0;
}

section a:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 140px;
    background-size: cover;
    /* border: 2px solid black; */
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 4px 4px 4px var(--bg-color-light);
}

.card1 {
    background-image: url(/images/SquareEyes.jpg);
}

.card2 {
    background-image: url(/images/CommunityScienceMuseum.jpg);
}

.card3 {
    background-image: url(/images/CakeHaven.jpg);
}

.card img {
    max-width: 120px;
    max-height: 120px;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin: 10px 0;
}

h3 {
    margin: 10px 0;
}

p {
    margin: 0;
}

.mailto {
    margin: 20px 0;
}

.mailto a {
    padding: 5px 10px;
}

.bg1 {
    background-color: var(--bg-color-dark);
    color: #FFF;
}

.bg2 {
    background-color: var(--bg-color-light);
}

.contact-info {
    margin: 0 auto;
}

footer {
    background-color: var(--header-color);
    color: #FFF;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;



}

@media (min-width: 600px) {

    nav {
        display: none;
    }

    nav {
        height: 3rem;
    }

    .menu {
        right: 0;
        font-size: 1rem;
        position: relative;
        height: 80px;
        max-width: 100%;
        transition: none;
    }

    li a:hover {
        text-decoration: underline overline var(--header-color);
    }

    .menu li {
        display: inline-block;

    }

    .menu ul {
        padding: 0;
        text-align: center;
        font-size: 1.8rem;
        margin: 0px 10px;
    }

    .container {
        background-color: #6f86ffb3;
        background-blend-mode: color;
        border-radius: 20px;
        width: fit-content;
        display: flex;
        align-self: center;

        align-content: center;
        margin: 20px;

    }



}